{% extends 'base.html.twig' %}

{% block title %}Modification de vacances{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        <h2>modif des vacances</h2>

        <section>
            {{ form(holidaysForm) }}
        </section>
    </div>
{% endblock %}