{% extends 'base.html.twig' %}

{% block title %}Modification de mutuelle{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        <h2>modif la mutuelle</h2>

        <section>
            {{ form(mutualForm) }}
        </section>
    </div>
{% endblock %}