{% extends 'base.html.twig' %}

{% block title %}Modification d'un stock{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        <h2>Modification d'un stock:</h2>
        <a class="text-primary" href="{{ path('stock_company_commercial') }}">Retourner aux stocks</a>
        <div class="mt-5">
            {{ form(stockcompanycommercialForm) }}
        </div>
    </div>
{% endblock %}